@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 1000px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: radial-gradient(#1f3756, #141539);
  background-size: cover;
  background-repeat: no-repeat;
}

.top-box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.top-box .sbox {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: solid 1.5px #606e85;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
}

.top-box .sbox .score-box {
  background-color: white;
  width: 23%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-box .sbox .score-box .score-label h2 {
  text-align: center;
  font-size: 20px;
  color: #2a46c0;
  font-weight: bolder;
}

.top-box .sbox .score-box .score-number {
  text-align: center;
  color: #3b4363;
  font-size: 50px;
}

.rps-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.rps-icons .rps-box {
  background-image: url(images/bg-pentagon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 34%;
  height: 70%;
}

.rps-icons .rps-box .row1 {
  display: flex;
  justify-content: center;
  height: 80px;
}

.rps-icons .rps-box .row1 .scissor {
  display: flex;
  justify-content: center;
  width: 38%;
  height: 203%;
  margin-top: -73px;
  border-radius: 50%;
}

.rps-icons .rps-box .row1 .scissor .sci {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#ec9e0e, #eca922);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row1 .scissor .sci .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row1 .scissor .sci .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.rps-icons .rps-box .row2 {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  height: 80px;
}

.rps-icons .rps-box .row2 .spock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  height: 203%;
  margin-left: -60px;
  border-radius: 50%;
}

.rps-icons .rps-box .row2 .spock .spo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#40b9ce, #52bed1);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row2 .spock .spo .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row2 .spock .spo .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.rps-icons .rps-box .row2 .paper {
  display: flex;
  justify-content: center;
  width: 38%;
  height: 203%;
  margin-right: -70px;
  border-radius: 50%;
}

.rps-icons .rps-box .row2 .paper .pap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#4865f4, #5671f5);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row2 .paper .pap .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row2 .paper .pap .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.rps-icons .rps-box .row1 {
  display: flex;
  justify-content: center;
  height: 80px;
}

.rps-icons .rps-box .row1 .scissor {
  display: flex;
  justify-content: center;
  width: 38%;
  height: 203%;
  margin-top: -73px;
  border-radius: 50%;
}

.rps-icons .rps-box .row1 .scissor .sci {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#ec9e0e, #eca922);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row1 .scissor .sci .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row1 .scissor .sci .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.rps-icons .rps-box .row3 {
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  height: 80px;
}

.rps-icons .rps-box .row3 .lizard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38%;
  height: 203%;
  margin-left: -60px;
  margin-top: 180px;
  border-radius: 50%;
}

.rps-icons .rps-box .row3 .lizard .liz {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#834fe3, #8c5de5);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row3 .lizard .liz .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row3 .lizard .liz .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.rps-icons .rps-box .row3 .rock {
  display: flex;
  justify-content: center;
  width: 38%;
  height: 203%;
  margin-right: -70px;
  margin-top: 180px;
  border-radius: 50%;
}

.rps-icons .rps-box .row3 .rock .roc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#dc2e4e, #dd405d);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row3 .rock .roc .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rps-icons .rps-box .row3 .rock .roc .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.rules {
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}

.rules button {
  background-color: transparent;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: solid 1.5px #606e85;
  padding: 5px;
  font-size: 18px;
}

.popbox {
  height: 100%;
  width: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.popbox .popup {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 50px 60px 450px;
  border-radius: 10px;
}

.popbox .popup .r1 {
  height: 50px;
  width: 24%;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  padding: 15px 50px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.popbox .popup .r1 .rules-title {
  color: #3b4363;
  font-size: 24px;
}

.popbox .popup .r2 {
  width: 24%;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 50px 40px 40px;
  background-color: white;
}

.game .select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game .select .yp {
  font-size: 18px;
  color: white;
  padding-right: 200px;
}

.game .select .hp {
  font-size: 18px;
  color: white;
}

.game .select-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  width: 100%;
}

.game .select-icon .scissors {
  display: flex;
  justify-content: flex-end;
  width: 17%;
  height: 203%;
  margin-top: 200px;
  margin-left: 0px;
}

.game .select-icon .scissors .sci {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px -8px 1px -1px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game .select-icon .scissors .sci .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game .select-icon .scissors .sci .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.game .select-icon .scissorr {
  display: flex;
  justify-content: center;
  width: 17%;
  height: 203%;
  margin-top: 200px;
  border-radius: 50%;
  margin-left: 80px;
}

.game .select-icon .scissorr .sci {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
}

.game .select-icon .scissorr .sci .wbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 65%;
  background-color: #141539;
  border-radius: 50%;
}

.game .select-icon .scissorr .sci .wbox img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  background-position: center;
}

.game .select .select-icon .con-box {
  display: flex;
}

.game .select .select-icon .con-box .con-title-box {
  color: white;
}

.game .select .select-icon .con-box .play-box button {
  color: #2a46c0;
}
